<div class="main">
    <div>
        <h1>Modify Product</h1>
        <div>
            {{#if isLoggedIn}}
                {{#if isAdmin}}
                    <form action="/product/update/{{product.pID}}" method="post">
                        <fieldset>
                            <label for="prodName">Product Name: </label>
                            <input type="text" name="prodName" id="prodName" value="{{product.pName}}" required="required">
                            <br>
                            <label for="prodDesc">Product description: </label>
                            <textarea name="prodDesc" id="prodDesc" cols="30" rows="10" required="required">{{product.pDesc}}</textarea>
                            <br>
                            <label for="prodImg">Product image URL: </label>
                            <input type="text" name="prodImg" id="prodImg" value="{{product.pImg}}" ="required">
                            <br>
                        </fieldset>
                        <input type="submit" value="Modify product">
                    </form>
                {{else}}
                    <p>Sorry, you must be an administrator to modify a product!</p>
                {{/if}}
            {{else}}
                <p>
                    Sorry, you must be logged in to modify a product!<br>
                    Please got to the <a href="/login">login</a> page.
                </p>
            {{/if}}
        </div>
    </div>
</div>